@reference "../../../app/styles/tailwind.css";

.message {
    @apply relative max-w-[60%] px-[14px] py-[10px] rounded-2xl my-1;
}

.message.max {
    @apply w-[60%];
}

.message.self {
    @apply bg-blue-b3 ml-auto;
}

.message.self.first::after {
    content: "";
    @apply absolute bottom-2 -right-1 w-3 h-3 bg-blue-b3;
    clip-path: polygon(0 0, 100% 100%, 0 100%);
}

.message.other {
    @apply bg-gray-g3;
}

.message.other.first::after {
    content: "";
    @apply absolute bottom-2 -left-1 w-3 h-3 bg-gray-g3;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
}