# Database
DB_PORT=5432
DB_HOST=db
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=slothui
POSTGRES_HOST_AUTH_METHOD=scram-sha-256

# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d

# Admin
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NICKNAME=
ADMIN_NAME=

# CORS
ALLOWED_REDIRECT_ORIGINS=https://slothui-ashy.vercel.app

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=https://slothui.duckdns.org/api/auth/google/callback

# Facebook OAuth
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_REDIRECT_URL=https://slothui.duckdns.org/api/auth/facebook/callback

# Instagram OAuth
INSTAGRAM_CLIENT_ID=
INSTAGRAM_CLIENT_SECRET=
INSTAGRAM_REDIRECT_URL=https://slothui.duckdns.org/api/auth/insta/callback

# Twitter OAuth
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
TWITTER_CALLBACK_URL=https://slothui.duckdns.org/api/auth/twitter/callback

# LinkedIn OAuth
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_CALLBACK_URL=https://slothui.duckdns.org/api/auth/linkedin/callback

# GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=https://slothui.duckdns.org/api/auth/github/callback

# Telegram OAuth
TELEPASS_CLIENT_ID=
TELEPASS_CLIENT_SECRET=
TELEPASS_CALLBACK_URL=https://slothui.duckdns.org/api/auth/telegram/callback

# Frontend
FRONT_ORIGIN=https://slothui-ashy.vercel.app
FRONT_RESET_PASSWORD_PATH=auth/reset-password
FRONT_VERIFY_EMAIL_PATH=auth/verify-email

# Session
SESSION_SECRET=

# WebSocket
WS_PORT=3001

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_PROJECT=slothui

# SMTP
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
