<h1>Verify your email</h1>
<p>Hello,</p>
<p>Click the link below to verify your email address:</p>
<a href="{{link}}">{{link}}</a>
<p>The link expires in 24 hours.</p>
<p>If you did not create an account, ignore this email.</p>
