@import "tailwindcss";

@layer basis {
    @font-face {
        font-family: 'PlusJakartaSan';
        src: url('../../shared/assets/fonts/PlusJakartaSan.ttf') format('truetype');
        font-weight: 100 900;
        font-style: normal;
    }

    body {
        font-family: theme('fontFamily.sans'), 'sans-serif';
        color: theme('color.dark');
        font-size: theme('fontSize.base');
        background-color: theme('color.white');
    }

    svg {
        @apply fill-current stroke-current;
    }

    /* === react-select START === */
    .rs__control {
        @apply !rounded-3xl;
    }
    /* === react-select END === */
}

@theme {
    /* === COLORS === */
    --color-gray-g1: #475569;
    --color-gray-g2: #94A3B8;
    --color-gray-g3: #E2E8F0;
    --color-gray-g4: #CBD5E1;

    --color-white: #FFFFFF;
    --color-light-l1: #EEF2FF;
    --color-light-l2: #F1F5F9;
    --color-light-l3: #F8FAFC;

    --color-blue-b1: #4F46E5;
    --color-blue-b2: #A5B4FC;
    --color-blue-b3: #C7D2FE;
    --color-blue-b4: #E0E7FF;

    --color-dark: #1E293B;
    --color-green-g1: #22C55E;
    --color-green-g2: #15803D;

    --color-svg-primary: var(--color-gray-g2);
    --color-svg-secondary: var(--color-gray-g1);
    --color-svg-third: var(--color-blue-b1);

    --color-underground-primary: var(--color-white);
    --color-underground-secondary: var(--color-light-l3);

    --color-overlay: var(--color-gray-g4);

    --color-auth-form: var(--color-gray-g3);

    --color-gradient: conic-gradient(#ff0057, #ff7b00, #ff00c3, #ff0057);

    /* === FONTS === */
    --font-sans: "PlusJakartaSan", sans-serif;

    /* === Z-INDEX === */
    --z-index-overlay: 99999;
    --z-index-modal: 999999;
    --z-index-modal-content: 9999999;

    /* === MODAL === */
    --modal-y-shift: -75.2%;
    --modal-scale: 0.2;
}


@layer utilities {
    .px-main {
        @apply px-8;
    }

    .py-main {
        @apply py-4;
    }

    .border-style-t {
        @apply border-t border-gray-g3;
    }

    .border-style-r {
        @apply border-r border-gray-g3;
    }

    .border-style-b {
        @apply border-b border-gray-g3;
    }

    .border-style-l {
        @apply border-l border-gray-g3;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;  /* IE, Edge */
        scrollbar-width: none;     /* Firefox */
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none;             /* Chrome, Safari, Opera */
    }

    .cursor-children * {
        cursor: inherit;
    }

    .px-sidebar {
        @apply px-4;
    }
    .py-sidebar {
        @apply py-8;
    }

    .toolbar {
        @apply border-b border-gray-g3 px-8 py-5 flex flex-wrap justify-between bg-underground-primary;
    }

    /* FORM */
    .form-default {
        @apply flex flex-col gap-2;
    }

    .form-btn {
        @apply min-w-[50%] inline-block ml-auto;
    }

    .input {
        @apply w-full border-b border-gray-300 py-2 px-3 text-sm focus:outline-none resize-y max-h-60;
    }

    .textarea {
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
        resize: vertical;
        max-height: 300px;
        min-height: 100px;
    }

    .story-border {
        position: relative;
        border-radius: 50%;
        padding: 3px; /* товщина рамки */
        background: linear-gradient(45deg, #ff0057, #ff7b00, #ff00c3, #ff0057);
        background-size: 300% 300%;
        animation: gradient-rotate 4s linear infinite;
    }

    .story-border::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50%;
        padding: 3px;
        background: inherit;
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }
    @keyframes gradient-rotate {
        0% {
            background-position: 0 50%;
        }
        100% {
            background-position: 100% 50%;
        }
    }

    .gradient-border {
        position: relative;
        display: inline-block;
        border-radius: 50%;
        padding: 3px;
        background: white;
    }

    .gradient-border::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50%;
        z-index: 1;
        display: block;

        background: conic-gradient(#ff0057, #ff7b00, #ff00c3, #ff0057);
        animation: spin 3s linear infinite;
    }

    @keyframes spin {
        to {
            transform: rotate(1turn);
        }
    }

    .bg-progress-gradient {
        background: conic-gradient(#ff0057, #ff7b00, #ff00c3, #ff0057);
    }

    .msg-extra {
        border-left: 1px solid gray;
        display: block;
        padding-left: 6px;
        background-color: #0000ff24;
        box-shadow: 2px 2px 15px gray;
        margin: 0 0 4px 4px;
    }
}

