@reference "../../../../app/styles/tailwind.css";
/* wrapper */
.bar {
   @apply absolute bg-gray-g1;
}
.bar.horizontal {
    @apply w-full h-[5px];
}

.bar.vertical {
    @apply h-full w-[5px];
}

.horizontal.top {
    @apply top-0 left-0;
}

.horizontal.bottom {
    @apply bottom-0 left-0;
}

.vertical.right {
    @apply top-0 right-0;
}

.vertical.left {
    @apply top-0 left-0;
}

/* inner */
.inner {
    @apply absolute top-0 left-0;
}

.horizontal .inner {
    height: 100%;
    width: 0;
}

.vertical .inner {
    width: 100%;
    height: 0;
}

.progress {
    background: conic-gradient(#ff0057, #ff7b00, #ff00c3, #ff0057);
}
