.overlay {
    background: var(--color-overlay);
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: var(--z-index-overlay);
    cursor: pointer;
}
