.modal {
    position: fixed;
    width: 100%;
    inset: 0;

    pointer-events: none;
    z-index: -1;
    opacity: 0;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.content {
    height: fit-content;
    transform: scale(var(--modal-scale));
    transition: 0.7s transform;
    z-index: var(--z-index-modal-content);
    pointer-events: none;

    max-height: 85vh;
    overflow: auto;
    margin: auto;
}
.content.center {
    max-width: 100%;

    /*transform: translateY(var(--modal-y-shift)) scale(var(--modal-scale));*/
    display: flex;
    align-items: flex-start;
}

.content.top.left {
    position: absolute;
    transform-origin: top left;
    top: 0;
}

.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: var(--z-index-modal);
}
.opened .content {
    z-index: var(--z-index-modal-content);
    transform: scale(1);
}
.opened .content > * {
    pointer-events: auto;
}

.opened .content.center {
    /*transform: translateY(var(--modal-y-shift)) scale(1);*/
}

.isClosing .content {
    transform: scale(var(--modal-scale));
}
.isClosing .content.center {
    transform: translateY(var(--modal-y-shift)) scale(var(--modal-scale));
}
